/* === Base Styles === */
body {
  margin: 0;
  font-family: 'Karla', sans-serif;
}

/* Typography */
.hero-text h1 {
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  color: #F4CE14;
  font-size: 64pt;
}

.hero-text h3 {
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  color: #edefee;
  font-size: 40pt;
}

.hero-text p {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: #edefee;
  font-size: 16pt;
}

/* Buttons */
button, btn {
  background: #F4CE14;
  color:#495E57;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: backgound 0.3s ease;
  width: 40ch;
  height: 8ch;
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  color: #edefee;
  font-size: 16pt;
}

/* Cards */
.card {
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 20px;
}

.card-title {
  font-size: 18pt;
  font-weight: bold;
  color: #495E57;
}

.card-text {
  font-size: 16pt;
}

.card-price {
  font-size: 16pt;
  font-weight: 500;
  color: #F4CE14;
}