/* === Base Styles === */
body {
  margin: 0;
  font-family: 'Karla', sans-serif;
}

/* Typography */
.hero-text h1 {
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  color: #F4CE14;
  font-size: 3.5rem;
}

.hero-text h3 {
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  color: #edefee;
  font-size: 2rem;
}

.hero-text p {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: #edefee;
  font-size: 1.1rem;
}

.specials-header h2 {
  margin: 0;
  font-size: 3rem;
  font-family: 'Markazi Text', serif;
}

.card-title-row h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.card-price {
  color: #f4ce14;
  font-weight: bold;
  font-size: 1.1rem;
}

.card-order-btn {
  color: #333;
  font-weight: bold;
  padding: 10px;
}

/* Buttons */
button, btn {
  background: #F4CE14;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Markazi Text', serif;
  width: 60%;
  font-weight: bold;
  color: #333;
  font-size: 1rem;
}

/* Cards */
.card {
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 20px;
}

.card-title {
  font-size: 18pt;
  font-weight: bold;
  color: #495E57;
}

.card-text {
  font-size: 16pt;
}

.card-price {
  font-size: 16pt;
  font-weight: 500;
  color: #F4CE14;
}